<p>
[% log.timestamp | $KohaDates with_hours => 1 %] : <b>Status changed </b>
[% IF log.info.status_before %]
from &quot;[% request.capabilities(log.info.status_before).name %]&quot;
[% END %]
to &quot;[% request.capabilities(log.info.status_after).name %]&quot;
</p>
